.task-summary {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.task-summary table{
    width: 100%;
    border-collapse: collapse;
    padding: 20px;
    font-size: 1.5em;
}
.task-summary table tbody tr{
    border: 1px solid green;
}
.task-summary table tbody tr:nth-child(odd){
    background: rgba( 255, 255, 255, 0.45 );
}
.task-summary table tbody tr td{
    border:  1px solid blue;
}