.breadcrumb{
    display: flex;
    padding: 10px;
    z-index: 1;
    margin-bottom: 0px !important;
}
.breadcrumb a.fragment{
    text-decoration: none;
    margin-right: 10px;
    margin-left: 5px;
    color: var(--dark);
}
.breadcrumb a.fragment::before{
    content: '>';
    margin-right: 10px;
}