.edit-able{
  padding: 10px;
  border: 1px solid blue;
  border-radius: 10px;
}
.assignment {
  padding: 10px;
  position: relative;
  width: 95%;
  border-radius: 10px;
  background: rgba(59, 20, 253, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 40px;
  cursor: pointer;
}
.assignment:hover {
  background: rgba(59, 20, 253, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.assignment .content {
  padding: 20px;
}
.assignment .content .header {
  display: flex;
  align-items: center;
}
.assignment .content .header span {
  margin: 5px;
}
.assignment .content .footer {
  display: flex;
  align-items: center;
  justify-content: end;
}
.assignment .content .footer div {
  margin: 5px;
}
.edit-mode .remove{
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 1200px) {
  .assignment {
    margin: 30px;
    width: 90%;
  }
}

@media (max-width: 800px) {
  .assignment {
    margin: 30px;
    width: 90%;
  }
}
@media (max-width: 600px) {
  .assignment {
    margin: 30px;
    width: 90%;
  }
}
