.datatable {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px;
}
.datatable .header{
    margin-bottom: 10px;
}
.datatable .footer{
    margin-top: 10px;
}
.datatable table.table-glassmorphism {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-align: center;
  table-layout: fixed;
}
.datatable table.table-glassmorphism thead {
  background: rgba(26, 46, 98, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.datatable table.table-glassmorphism tr{
    height: fit-content;
    min-height: 100px;
    line-height: 40px;
}
.datatable table.table-glassmorphism tbody tr:nth-child(odd) {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.datatable table.table-glassmorphism tbody td.image-box{
    height: 150px;
    width: 150px;
}
.datatable table.table-glassmorphism tbody td img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}