.courses_component {
  padding: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  grid-gap: 20px;
  padding: 40px;
}
.courses_component .course {
  position: relative;
  padding: 48px;
  height: 200px;
  width: 350px;
  border-radius: 12px;
  text-decoration: none;
  color: var(--blue);
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: all 0.5s;
}
.courses_component .course:hover {
  color: var(--blue3);
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.courses_component .course .body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.courses_component .course .body img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
