USE [master]
GO
/****** Object:  Database [IdentityDb]    Script Date: 6/14/2022 7:21:47 AM ******/
CREATE DATABASE [IdentityDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IdentityDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\IdentityDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IdentityDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\IdentityDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IdentityDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IdentityDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6/14/2022 7:21:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 6/14/2022 7:21:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[Id] [uniqueidentifier] NOT NULL,
	[Username] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[PhotoImage] [nvarchar](max) NULL,
	[BackgroundImage] [nvarchar](max) NULL,
	[HashPassword] [nvarchar](max) NULL,
	[Salt] [nvarchar](max) NULL,
	[IsDisabled] [bit] NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[DomainId] [uniqueidentifier] NOT NULL,
	[ManageDomainId] [uniqueidentifier] NULL,
	[LastLockUntil] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[RefreshToken] [nvarchar](max) NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Components]    Script Date: 6/14/2022 7:21:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Components](
	[Id] [uniqueidentifier] NOT NULL,
	[ComponentName] [nvarchar](max) NULL,
	[ComponentEndpoint] [nvarchar](max) NULL,
	[ComponentLogo] [nvarchar](max) NULL,
	[Price] [float] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Components] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DomainComponents]    Script Date: 6/14/2022 7:21:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DomainComponents](
	[DomainId] [uniqueidentifier] NOT NULL,
	[ComponentId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_DomainComponents] PRIMARY KEY CLUSTERED 
(
	[DomainId] ASC,
	[ComponentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DomainProcess]    Script Date: 6/14/2022 7:21:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DomainProcess](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DomainId] [uniqueidentifier] NOT NULL,
	[ToEmail] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
	[SenderId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_DomainProcess] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Domains]    Script Date: 6/14/2022 7:21:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Domains](
	[Id] [uniqueidentifier] NOT NULL,
	[Abbreviation] [nvarchar](max) NULL,
	[SchoolName] [nvarchar](max) NULL,
	[SchoolEmail] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[SchoolUrl] [nvarchar](max) NULL,
	[SchoolLogoId] [uniqueidentifier] NOT NULL,
	[SchoolLogoPath] [nvarchar](max) NULL,
	[DomainComponents] [nvarchar](max) NULL,
	[DomainStatus] [nvarchar](max) NOT NULL,
	[DomainAdminId] [uniqueidentifier] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[SchoolAddress] [nvarchar](max) NULL,
 CONSTRAINT [PK_Domains] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProviderAuths]    Script Date: 6/14/2022 7:21:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProviderAuths](
	[Id] [uniqueidentifier] NOT NULL,
	[Provider] [nvarchar](max) NULL,
	[Key] [nvarchar](max) NULL,
	[AccountId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ProviderAuths] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 6/14/2022 7:21:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [uniqueidentifier] NOT NULL,
	[RoleName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220513052746_init', N'5.0.14')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220513150632_updatedomain', N'5.0.14')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220525150926_addrefreshtoken', N'5.0.14')
GO
INSERT [dbo].[Components] ([Id], [ComponentName], [ComponentEndpoint], [ComponentLogo], [Price], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (N'39d9e1c1-97a9-4176-e960-08da3503cc9d', N'Quản lý nguồn lực', N'/manage-hr', N'people-outline', 0, N'System', CAST(N'2022-05-14T00:12:47.9831648' AS DateTime2), NULL, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Components] ([Id], [ComponentName], [ComponentEndpoint], [ComponentLogo], [Price], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (N'af8bf9d8-ec27-4682-e961-08da3503cc9d', N'Quản lý phiếu', N'/manage-ticket', N'ticket-outline', 0, N'System', CAST(N'2022-05-14T00:12:47.9866284' AS DateTime2), NULL, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Components] ([Id], [ComponentName], [ComponentEndpoint], [ComponentLogo], [Price], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (N'f6d14052-e2df-4a8f-e962-08da3503cc9d', N'Quản lý công việc', N'/manage-task', N'clipboard-outline', 0, N'System', CAST(N'2022-05-14T00:12:47.9866361' AS DateTime2), NULL, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2))
GO
INSERT [dbo].[DomainComponents] ([DomainId], [ComponentId]) VALUES (N'b70d4057-ee17-4ff8-9e18-08da3503ccc0', N'39d9e1c1-97a9-4176-e960-08da3503cc9d')
INSERT [dbo].[DomainComponents] ([DomainId], [ComponentId]) VALUES (N'b70d4057-ee17-4ff8-9e18-08da3503ccc0', N'af8bf9d8-ec27-4682-e961-08da3503cc9d')
INSERT [dbo].[DomainComponents] ([DomainId], [ComponentId]) VALUES (N'b70d4057-ee17-4ff8-9e18-08da3503ccc0', N'f6d14052-e2df-4a8f-e962-08da3503cc9d')
GO
INSERT [dbo].[Domains] ([Id], [Abbreviation], [SchoolName], [SchoolEmail], [IsActive], [SchoolUrl], [SchoolLogoId], [SchoolLogoPath], [DomainComponents], [DomainStatus], [DomainAdminId], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [SchoolAddress]) VALUES (N'7d83f62b-0170-43de-9e15-08da3503ccc0', N'hutech', N'Trường đại học Hutech TP.HCM', N'admin@hutech.edu.vn', 1, NULL, N'00000000-0000-0000-0000-000000000000', NULL, NULL, N'NEW', NULL, N'System', CAST(N'2022-05-14T00:12:47.9866394' AS DateTime2), NULL, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), N'So 1 vo van ngan')
GO
INSERT [dbo].[Roles] ([Id], [RoleName]) VALUES (N'7fd460fb-665c-456c-8bbd-08da3503cdb7', N'school_student')
INSERT [dbo].[Roles] ([Id], [RoleName]) VALUES (N'e9b3b533-36e8-43f1-8bbe-08da3503cdb7', N'school_admin')
INSERT [dbo].[Roles] ([Id], [RoleName]) VALUES (N'679dac48-0315-4fb6-8bbf-08da3503cdb7', N'school_head')
GO
/****** Object:  Index [IX_Accounts_DomainId]    Script Date: 6/14/2022 7:21:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_Accounts_DomainId] ON [dbo].[Accounts]
(
	[DomainId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Accounts_RoleId]    Script Date: 6/14/2022 7:21:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_Accounts_RoleId] ON [dbo].[Accounts]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DomainComponents_ComponentId]    Script Date: 6/14/2022 7:21:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_DomainComponents_ComponentId] ON [dbo].[DomainComponents]
(
	[ComponentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DomainProcess_DomainId]    Script Date: 6/14/2022 7:21:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_DomainProcess_DomainId] ON [dbo].[DomainProcess]
(
	[DomainId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DomainProcess_SenderId]    Script Date: 6/14/2022 7:21:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_DomainProcess_SenderId] ON [dbo].[DomainProcess]
(
	[SenderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Domains_DomainAdminId]    Script Date: 6/14/2022 7:21:47 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Domains_DomainAdminId] ON [dbo].[Domains]
(
	[DomainAdminId] ASC
)
WHERE ([DomainAdminId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProviderAuths_AccountId]    Script Date: 6/14/2022 7:21:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProviderAuths_AccountId] ON [dbo].[ProviderAuths]
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_Domains_DomainId] FOREIGN KEY([DomainId])
REFERENCES [dbo].[Domains] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Accounts_Domains_DomainId]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Accounts_Roles_RoleId]
GO
ALTER TABLE [dbo].[DomainComponents]  WITH CHECK ADD  CONSTRAINT [FK_DomainComponents_Components_ComponentId] FOREIGN KEY([ComponentId])
REFERENCES [dbo].[Components] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DomainComponents] CHECK CONSTRAINT [FK_DomainComponents_Components_ComponentId]
GO
ALTER TABLE [dbo].[DomainComponents]  WITH CHECK ADD  CONSTRAINT [FK_DomainComponents_Domains_DomainId] FOREIGN KEY([DomainId])
REFERENCES [dbo].[Domains] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DomainComponents] CHECK CONSTRAINT [FK_DomainComponents_Domains_DomainId]
GO
ALTER TABLE [dbo].[DomainProcess]  WITH CHECK ADD  CONSTRAINT [FK_DomainProcess_Accounts_SenderId] FOREIGN KEY([SenderId])
REFERENCES [dbo].[Accounts] ([Id])
GO
ALTER TABLE [dbo].[DomainProcess] CHECK CONSTRAINT [FK_DomainProcess_Accounts_SenderId]
GO
ALTER TABLE [dbo].[DomainProcess]  WITH CHECK ADD  CONSTRAINT [FK_DomainProcess_Domains_DomainId] FOREIGN KEY([DomainId])
REFERENCES [dbo].[Domains] ([Id])
GO
ALTER TABLE [dbo].[DomainProcess] CHECK CONSTRAINT [FK_DomainProcess_Domains_DomainId]
GO
ALTER TABLE [dbo].[Domains]  WITH CHECK ADD  CONSTRAINT [FK_Domains_Accounts_DomainAdminId] FOREIGN KEY([DomainAdminId])
REFERENCES [dbo].[Accounts] ([Id])
GO
ALTER TABLE [dbo].[Domains] CHECK CONSTRAINT [FK_Domains_Accounts_DomainAdminId]
GO
ALTER TABLE [dbo].[ProviderAuths]  WITH CHECK ADD  CONSTRAINT [FK_ProviderAuths_Accounts_AccountId] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([Id])
GO
ALTER TABLE [dbo].[ProviderAuths] CHECK CONSTRAINT [FK_ProviderAuths_Accounts_AccountId]
GO
USE [master]
GO
